//-
  @Author: Laurent Vergerolle <laurent>
  @Date:   2019-12-29T14:58:33-04:00
  @Email:  laurent@ipeos.com
  @Last modified by:   laurent
  @Last modified time: 2019-12-29T17:46:21-04:00
  @License: GPLv3
doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='vendor/fontawesome/css/all.min.css')
    link(rel='stylesheet', href='css/main.min.css')
    block head
  body
    header
      block header
    main
      block content
    footer
      block footer
      script(src='vendor/jquery/jquery.min.js')
      script(src='vendor/fontawesome/js/all.min.js')
      script(src='vendor/bootstrap/bootstrap.min.js')
      script(src='vendor/vue/vue.min.js')
      script(src='vendor/vue-resource/vue-resource.min.js')
      script(src='js/main.min.js')
      block scripts
